:root {
    --primary: #8c00b2;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.text-primary {
    color: var(--primary) !important;
}

.display-1 {
    font-size: 2.5rem;
}

.navbar {
    border-bottom: 4px solid var(--red);
}

.banner-mobile {
    display: block;
}

.banner-desktop {
    display: none;
}

@media (min-width: 576px) {
    .banner-mobile {
        display: none;
    }
    
    .banner-desktop {
        display: block;
    }
}

.credit-card-list {
    font-size: 1.375rem;
    color: var(--gray);
    list-style: none;
    margin: 0;
    padding: 0;
}

.credit-card-list li {
    margin: 10px 0;
}

.credit-card-list i {
    font-size: 1.75rem;
    color: var(--red);
    width: 40px;
    text-align: center;
}

@media (min-width: 992px) {
    .credit-card-list {
        display: flex;
        flex-wrap: wrap;
    }

    .credit-card-list li {
        width: 50%;
    }
}

.about {
    background-image: url("../images/about.jpg");
}